#hero {
  width: 100%;
  background-image: url("../img/frontpage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0;
}
#hero img {
  margin: 0;
  width: 70%;
  max-width: 600px;
  padding: 9% 0 0;
}
h1 {
  font-family: "majesti_bannerheavy", "Playfair Display", serif;
}
h3 {
  font-family: "majesti_bannerheavy", "Playfair Display", serif;
  font-weight: 600;
  font-size: 3em;
  text-align: center;
}
h4 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 600;
  font-size: .75em;
  text-align: center;
  margin-bottom: 2em;
}
p {
  font-family: 'Work Sans', sans-serif;
  font-size: .85em;
}
p a {
  color: #888;
  border-bottom: 1px solid #ddd;
  -webkit-transition: all 150ms ease;
          transition: all 150ms ease;
}

p a:hover {
  color: #87a1af;
  border-bottom: none;
}
.text-center {
  text-align: center;
}
.xl-heading {
  text-align: center;
  margin-top: -2.3em;
}
.xl-heading h1 {
  font-size: 6em;
  font-weight: 900;
}
section {
  margin: 7em 0;
}
#intro {
  margin: 12em 0 14em;
}
#intro h1 {
  font-family: 'majesti_bannermedium';
}
#intro h1 em {
  font-family: 'majesti_bannerbook_italic';
}
.barheadline {
  margin-bottom: 2em;
}
.barheadline h4 {
  display: inline;
}
.bar {
  width: 40px;
	height: 1px;
  background-color: black;
  display: inline-block;
  margin: 0 4px 3px 0;
}
.pushdown img {
  margin-top: 3.4em;
}
#schedule h5, #accomodations h5, #weddingcrew h5, #story h5 {
  font-family: "majesti_bannerheavy", "Playfair Display", serif;
  font-weight: 600;
  font-size: 1.75em;
}

#ourimage {
  text-align: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.us {
  text-align: center;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
#registry img {
  width: 300px;
  opacity: .5;
  padding: 2% 2.5% 0% 0%;
  -webkit-transition: all 250ms ease;
          transition: all 250ms ease;
}
#registry img:hover {
  opacity: .8;
}
.rsvpbg {
  background-image: url("../img/mountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

#rsvp, #rsvp-form, #thankyou {
  margin: 0;
  color: #ffffff;
  padding: 10em 0;
}
#rsvp h1 {
  font-size: 5em;
  color: #ffffff;
  margin: 0;
}
#rsvp h4 {
  font-family: 'majesti_bannerbook_italic';
  letter-spacing: 0px;
  text-transform: none;
  font-size: 1.2em;
}
#rsvp-form h1 {
  font-family: 'majesti_bannerbook';
  font-size: 4em;
  margin-bottom: 1em;
}
#rsvp-form h1 span {
  font-family: 'majesti_bannerheavy';
}
#rsvp-form h3 {
  font-family: 'majesti_bannerbook_italic';
  letter-spacing: 0px;
  text-transform: none;
  font-size: 1.2em;
}


#demo {
  font-family: 'majesti_bannerbook';
  text-align: center;
  font-size: 50px;
}

footer {
  width: 100%;
  padding: 3em 0;
  text-align: center;
  color: #666;
	font-size: 80%;
  font-family: "Poppins", "Avenir", sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: auto;
	max-width:80%;
}
footer img {
  max-width: 100px;
}
#sidetext{
  font-family: "Poppins", "Avenir", sans-serif;
  font-size: .75em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 5px;
	position: fixed;
	top: 50%;
	right: -120px;
	-webkit-transform: rotateZ(90deg);
	        transform: rotateZ(90deg);
}

#rsvp .form-wrap {
  text-align: center;
  height: auto;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.form-wrap h4 {
  font-size: .8em;
  letter-spacing: 3px;
  font-weight: 400;
}


input[type=text], textarea {
  text-align:left;
  width: 85%;
  padding: 2%;
  border-radius: 20%
  background-color: #eee;
  border: 1px dotted black;
  margin: 2em auto 2em;
}



textarea {
  min-height: 4em;
  max-width: 75%;
}


.having-trouble {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Poppins", "Avenir", sans-serif;
  color: #fff;
}

/*animations */

.toFadeInUp {
  opacity: 0;
}
.fadeInUp {
  transform: translateY(15px);
  opacity: 0;
  animation: fadeInUp 2s ease forwards;
  animation-delay: .5s;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* media queries */
/* tablet */
@media screen and (max-width: 1024px) {
  #sidetext, nav {
    display: none;
  }
}

/* mobile */
@media screen and (max-width: 640px) {
  #hero, .rsvpbg {
    background-attachment: scroll;
  }
  section {
    margin: 4em 0;
  }
  #intro {
    margin: 7em 0 4em;
  }
  .pushdown {
    margin: 0 0 2em;
  }
  .xl-heading{
    font-size: .5em;
  }
  .response .radio-button {
    width: 100%;
  }
}
